# Any linked content is going to be too big #
# Only link reference material, not final work product #
Link*

# Backups of files #
.ipynb_checkpoints
~*.*
*~
*/Mine/
Images/New Metal Printing

# Video files that are redundant #
Video/New Atlas Clip.mov
Video/Untitled Project.osp
Video/What's new, Atlas.mp4
Video/thumbnail
